
*.cmake
*.recipe
*.tlog
*.vcxproj
*.obj
*.bin
*.depend
*.filters
build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeCache.txt
build/.vs/https_server_basic/v16/.suo
build/.vs/https_server_basic/v16/Browse.VC.db
build/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.3/CompilerIdC/Debug/vcpkg.applocal.log
build/CMakeFiles/3.17.3/VCTargetsPath.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/generate.stamp
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
*.log
*.rule
*.exe
build/Release/https_server_basic.lib
build/https_server_basic.sln
build/.vs/https_server_basic/v16/Solution.VC.db
